.login-background{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    .login-container{
        background-color: aliceblue;
        width: 400px; 
        margin: 0 auto;
        border-radius: 10px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 450px;

        .login-content{
            padding: 10px;

            .text-login{
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;
            }

            .login-input{
                margin: 7px 0px;
                .custom-input-password{
                    position: relative;
                    i{
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }

            .btn-login{
                width: 100%;
                margin: 10px 0;
                height: 30px;
                border-radius: 10px;
                outline: none;
                border: none;
            }

            .forgot-password{
                font-size: 12px;
            }

            .social-login{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                .google{
                    display: flex;
                    height: 50px; width: 50px;
                    border-radius: 50%;
                    font-size: 30px;
                    background-color: red;
                    color: white;
                    align-items: center;
                    justify-content: center;
                    margin-right: 5px;
                }
                .facebook{
                    display: flex;
                    height: 50px; width: 50px;
                    border-radius: 50%;
                    font-size: 30px;
                    background-color: rgb(0, 119, 255);
                    color: white;
                    align-items: center;
                    justify-content: center;
                    margin-left: 5px;
                }
            }
        }
    }
}
